<% members = ["andrew", "gin", "will"] %>

<div class="page">
    <div class="intro-header">
      <div class="bg-image parallax-bg"></div>
      <div class="header-content row">
        <h1>Meet The Team</h1>
      </div>
    </div>
    <div class="content">
      <div class="row">
<div class="row2">
  <div class="column2">
    <div class="card8">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/65282199-9f85-4daa-bcd6-de2f615bcca7/dfjt5x7-77a6370c-7e40-432e-bd8b-7009f21d3d45.png/v1/fill/w_1280,h_1280,q_80,strp/dark_fantasy_knight_version_5_by_pm_artistic_dfjt5x7-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzY1MjgyMTk5LTlmODUtNGRhYS1iY2Q2LWRlMmY2MTViY2NhN1wvZGZqdDV4Ny03N2E2MzcwYy03ZTQwLTQzMmUtYmQ4Yi03MDA5ZjIxZDNkNDUucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.6m4695Tfw4xM5hdPw5AWUZO3dACBc4a_MZKmddxWDOE" alt="Jane" style="width:50%">
      <div class="container8">
        <h2>Andrew</h2>
        <p class="title">Front &amp; Backend</p>
        <p>Has a dog called <strong>Shadow.</p>
        <p>Andrew@castlaway.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card8">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/65282199-9f85-4daa-bcd6-de2f615bcca7/dfkc53u-4a5ae6b0-fbc3-4a75-b376-100669ce4eec.png/v1/fill/w_1280,h_1280,q_80,strp/dark_fantasy_knight_version_7_by_pm_artistic_dfkc53u-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzY1MjgyMTk5LTlmODUtNGRhYS1iY2Q2LWRlMmY2MTViY2NhN1wvZGZrYzUzdS00YTVhZTZiMC1mYmMzLTRhNzUtYjM3Ni0xMDA2NjljZTRlZWMucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.PcCtW3WMkSJYQbNrlxiVFGHheDUrgMhOKm1boQ1zj8c" alt="Mike" style="width:50%">
      <div class="container8">
        <h2>Will</h2>
        <p class="title">Frontend</p>
        <p>Forever<strong>Alone.</p>
        <p>Will@castlaway.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card8">
      <img src="https://www.nickgowman.com/wp-content/uploads/cartoon-knight.png" alt="John" style="width:50%">
      <div class="container8">
        <h2>Gin</h2>
        <p class="title">Backend</p>
        <p>Has a cat called <strong>Hickey.</p>
        <p>Gin@castlaway.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>











        </div>
    </div>
  </div>
