<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CastlAway</title>
</head>
<body>

<div class="full-body">
<section>
    <div class="container5">
        <div class="carousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <input type="radio" name="slides" id="slide-6">
            <ul class="carousel__slides">
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="https://fh-sites.imgix.net/sites/1813/2021/09/09174846/0_Edinburgh-CastlePNG.png?auto=compress%2Cformat&w=1000&h=1000&fit=max" alt="">
                        </div>
                        <figcaption>
                            Edinburgh Castle is a historic castle in Edinburgh, Scotland. It stands on Castle Rock, which has been occupied by humans since at least the Iron Age. There has been a royal castle on the rock since at least the reign of Malcolm III in the 11th century, and the castle continued to be a royal residence until 1633. From the 15th century, the castle's residential role declined, and by the 17th century it was principally used as a military garrison.
                            <span class="credit">Photo: Tim Marshall</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="https://b2192854.smushcdn.com/2192854/wp-content/uploads/2020/10/castello-di-miramare-1925340_1280-1024x575.jpg?lossy=1&strip=1&webp=1" alt="">
                        </div>
                        <figcaption>
                            Built during the 16th century in an expansive wooded park between Blois and Orléans, the Château de Chambord is the largest castle of the Loire Valley, sat 5 km from the river. It’s said that Leonardo da Vinci himself influenced the Renaissance-style design of the castle. Go to the northwest side of the moat to take a great photo of the castle reflected in the water. When visiting, take the audio guide tablet to learn about the history of this stunning castle constructed by King Francis I of France..
                            <span class="credit">Photo: Christian Joudrey</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="https://blog.lingoda.com/wp-content/uploads/2023/06/castles-in-switzerland.jpg" alt="">
                        </div>
                        <figcaption>
                            Originally built during the 12th century, the Château de Fontainebleau was extended, renovated and improved by many kings, an emperor and a president throughout its long history. Located in the city of Fontainebleau and surrounded by a large forest of the same name, the 1,500 rooms it contains make it one of the largest castles in France. It was among the favourite residences of Napoléon, and you can see his throne and crown in the former king’s chamber.
                            <span class="credit">Photo: Steve Carter</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="https://i.guim.co.uk/img/media/ec0306712a355ad6216c350b58446084775838ae/0_68_2048_1229/master/2048.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=7a2b2b1512c5a4bfc1d5fb31af0303dd" alt="">
                        </div>
                        <figcaption>
                            The symmetrical architecture of the turreted Château de Saumur gives it a stunning Walt Disney’s Magic Kingdom look. Originally built during the 10th century, it had several lives, from royal fortress to army barrack to state prison. Today, the castle is home to the Museum of the Horse. Located on a hill just southeast of the city centre, you get breathtaking views of Saumur Old Town and the Loire River from the dungeon of the castle.
                            <span class="credit">Photo: Aleksandra Boguslawska</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="https://www.sykescottages.co.uk/blog/wp-content/uploads/2023/10/Eilean-Donan-Castle-lit-up-at-night-time-1.jpg" alt="">
                        </div>
                        <figcaption>
                            Established in a splendid 500-hectare estate, 45 km southeast of Paris, the Château de Vaux-le-Vicomte is a majestic example of French aesthetics and workmanship. From its jardins à la française to its symmetrical French Baroque architecture to its beautifully decorated interiors, Vaux-le-Vicomte is famous for being the castle that inspired Versailles. The highlights of a visit include the underground Styx River, the panoramic dom
                            <span class="credit">Photo: Rosan Harmens</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="https://wch.cottage-search.com/blog/wp-content/uploads/sites/8/2020/01/ashford-castle-county-mayo.jpg" alt="">
                        </div>
                        <figcaption>
                            Overlooking the Upper Rhine Plain from the top of a wooden, rocky hill, the Château du Haut-Koenigsbourg is one of the most iconic medieval castles in France. Built during the 15th century, its strategic position a short distance of the Switzerland and German borders and its well-executed restoration make it one of the most visited French castles. If you come by car, leave your car in Sélestat, a small village 7km east of the castle,
                            <span class="credit">Photo: Annie Spratt</span>
                        </figcaption>
                    </figure>
                </li>
            </ul>
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src="https://fh-sites.imgix.net/sites/1813/2021/09/09174846/0_Edinburgh-CastlePNG.png?auto=compress%2Cformat&w=1000&h=1000&fit=max" alt=""></label>
                </li>
                <li>
                    <label for="slide-2"><img src="https://b2192854.smushcdn.com/2192854/wp-content/uploads/2020/10/castello-di-miramare-1925340_1280-1024x575.jpg?lossy=1&strip=1&webp=1" alt=""></label>
                </li>
                <li>
                    <label for="slide-3"><img src="https://blog.lingoda.com/wp-content/uploads/2023/06/castles-in-switzerland.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-4"><img src="https://i.guim.co.uk/img/media/ec0306712a355ad6216c350b58446084775838ae/0_68_2048_1229/master/2048.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=7a2b2b1512c5a4bfc1d5fb31af0303dd" alt=""></label>
                </li>
                <li>
                    <label for="slide-5"><img src="https://www.sykescottages.co.uk/blog/wp-content/uploads/2023/10/Eilean-Donan-Castle-lit-up-at-night-time-1.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-6"><img src="https://wch.cottage-search.com/blog/wp-content/uploads/sites/8/2020/01/ashford-castle-county-mayo.jpg" alt=""></label>
                </li>
            </ul>
            <%= link_to "Explore", castles_path(@castle), class: "btn btn-flat explore-button" %>
            <%# <%= link_to "Explore",  edit_user_castle_path(@castle), class: "btn btn-flat" %>
                  <%# <a class="explore-button" href="http://localhost:3000/castles">
                             Explore
                  </a> %>
        </div>
    </div>
</section>

<br>

<h2>Trending</h2>
<br>
</div>
<div class="responsive">
  <div class="gallery">

    <a href="/castles?query=eltz&commit=Search">

      <img src="https://www.travelandleisure.com/thmb/592lRASbCgIgSUDl25nTMHkepo0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/eltz-castle-germany-CASTLES0417-63c065056d02483096f6ec7f172475db.jpg" alt="Cinque Terre">
    </a>
    <div class="desc">Eltz Castle Germany</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">

    <a href="/castles?query=Neuschwanstein&commit=Search">

      <img src="https://www.travelandleisure.com/thmb/Wh8s26R4zPVdMgHgIuL8KzI6z-I=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/201212-w-worlds-most-visited-castles-neuschwanstein-2000-b0c485121ca74bde9428e03d38c5e68e.jpg" alt="Forest">
    </a>
    <div class="desc">Neuschwanstein Castle</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">

    <a href="/castles?query=dunnottar&commit=Search">

      <img src="https://www.travelandleisure.com/thmb/9fDf9FfULSoYWhddS3mO2iTMLy4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/dunnottar-castle-scotland-CASTLES0417-d2e4526860254669995d12fa34f84fb8.jpg" alt="Northern Lights">
    </a>
    <div class="desc">Dunnottar Castle</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">

    <a href="/castles?query=segovia&commit=Search">
      <img src="https://www.travelandleisure.com/thmb/SJFQfnyTK_pr5samvCGGmuK-2nE=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/alcazar-castle-of-segovia-spain-CASTLES0417-5f2bddfdf3ed43aeb17f7f2670905c54.jpg" alt="Mountains">
    </a>
    <div class="desc">Alcázar of Segovia</div>
  </div>
</div>
<div class="clearfix"></div>
</div>
<div>
<form action="action_page.php">
  <div class="container1">
    <h2>Subscribe to our Newsletter</h2>
  </div>
  <div class="container1" style="background-color:white">
    <input type="text" placeholder="Name" name="name" required>
    <input type="text" placeholder="Email address" name="mail" required>
    <label>
      <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
    </label>
  </div>
  <div class="container1">
    <input type="submit" value="Subscribe">
  </div>
</form>
</div>
</body>
</html>















<!--</head>
<!--<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      <!--</ul>
    </div>
  </div>
</div>

<!--<div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://a.cdn-hotels.com/gdcs/production176/d841/38ebf604-9d9a-4923-b4cb-14cfcdaf4a22.jpg?impolicy=fcrop&w=1600&h=1066&q=medium);">
  <div class="container">
    <h1>Welcome to CastlAway</h1>
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://handluggageonly.co.uk/wp-content/uploads/2023/10/Best-Castles-In-France-To-Visit-3.jpg)">
    France
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://handluggageonly.co.uk/wp-content/uploads/2016/08/Hand-Luggage-Only-2-1.jpg)">
    Italy
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8Ie93lnKFTiAXFNR1K7E6L3wKC0zIm7DkL5QyccSZvg&s)">
    Switzerland
  </div>
</div>
</div>
