<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CastlAway</title>
</head>
<body>

<div class="full-body">
<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon"> %>
  <%# <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" /> %>
<%# </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div> %>
<div class="container">
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Dashboard</a>
  <a href="/castles">Castles</a>
  <a href="#">Contact</a>
</div>

<!-- Use any element to open the sidenav -->
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "100%";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
  ...
</div>

<div class="row">
<div class="col">
  <h1>CastlAway</h1>
<   <p>Charm Awaits You</p>
    <button type="button">Explore</button>
</div>
<div class="col">
  <div class="card card1">
     <h5>France</h5>
  <p>Château de Fontainebleau</p>
  </div>

  <div class="card card2">
  <h5>Italy</h5>
  <p>Château de Fontainebleau</p>
  </div>

  <div class="card card3">
  <h5>Switzerland</h5>
  <p>Château de Fontainebleau</p>
  </div>

  <div class="card card4">
  <h5>Gin's Imagination</h5>
  <p>Bouncy Fortee</p>
  </div></div>
</div>
</div>
<div class="bottom-header">
<br>
<h2>Trending</h2>
<br>
</div>
<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="https://www.travelandleisure.com/thmb/592lRASbCgIgSUDl25nTMHkepo0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/eltz-castle-germany-CASTLES0417-63c065056d02483096f6ec7f172475db.jpg" alt="Cinque Terre">
    </a>
    <div class="desc">South of France</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="https://www.travelandleisure.com/thmb/Wh8s26R4zPVdMgHgIuL8KzI6z-I=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/201212-w-worlds-most-visited-castles-neuschwanstein-2000-b0c485121ca74bde9428e03d38c5e68e.jpg" alt="Forest">
    </a>
    <div class="desc">Cinque de Terre</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_lights.jpg">
      <img src="https://www.travelandleisure.com/thmb/9fDf9FfULSoYWhddS3mO2iTMLy4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/dunnottar-castle-scotland-CASTLES0417-d2e4526860254669995d12fa34f84fb8.jpg" alt="Northern Lights">
    </a>
    <div class="desc">Gin's Palace</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_mountains.jpg">
      <img src="https://www.travelandleisure.com/thmb/SJFQfnyTK_pr5samvCGGmuK-2nE=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/alcazar-castle-of-segovia-spain-CASTLES0417-5f2bddfdf3ed43aeb17f7f2670905c54.jpg" alt="Mountains">
    </a>
    <div class="desc">Andrew's Colosseum</div>
  </div>
</div>

<div class="clearfix"></div>
</div>
<div>
<form action="action_page.php">
  <div class="container1">
    <h2>Subscribe to our Newsletter</h2>
    <p>Lorem ipsum..</p>
  </div>

  <div class="container1" style="background-color:white">
    <input type="text" placeholder="Name" name="name" required>
    <input type="text" placeholder="Email address" name="mail" required>
    <label>
      <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
    </label>
  </div>

  <div class="container1">
    <input type="submit" value="Subscribe">
  </div>
</form>
</div>
</body>
</html>
















<!--</head>
<!--<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      <!--</ul>
    </div>
  </div>
</div>

<!--<div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://a.cdn-hotels.com/gdcs/production176/d841/38ebf604-9d9a-4923-b4cb-14cfcdaf4a22.jpg?impolicy=fcrop&w=1600&h=1066&q=medium);">
  <div class="container">
    <h1>Welcome to CastlAway</h1>
  </div>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://handluggageonly.co.uk/wp-content/uploads/2023/10/Best-Castles-In-France-To-Visit-3.jpg)">
    France
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://handluggageonly.co.uk/wp-content/uploads/2016/08/Hand-Luggage-Only-2-1.jpg)">
    Italy
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8Ie93lnKFTiAXFNR1K7E6L3wKC0zIm7DkL5QyccSZvg&s)">
    Switzerland
  </div>
</div>
</div>
