.navbar-lewagon {
  justify-content: space-between;
  background: white;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, .15);
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.avatar {
  width: 60px;
}

.nav-title h1 {
  color: black;
  display: flex;
  align-items: center;
}

.castle-icon {
  text-shadow: none;
  font-size: 80px;
}
