.index-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.index-layout a {
  text-decoration: none;
}

.castle-header {
  margin-left: 50px;
  margin-top: 20px;
}

.castle-header h1 {
  color: black;
}

.castle-card-trip {
  height: auto;
  width: 400px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, .15);
}

.castle-card-trip:hover {
  transform: scale(1.05);
}

.castle-h3, .castle-h5 {
  margin-left: 15px;
  color: black;
}

.castle-image {
  border-radius: 10px;
}

.index-btn {
  background-color:rgb(100, 99, 99);
  color: white;
}

.index-btn:hover {
  background-color: rgb(145, 141, 141);
}

.castle-card-trip {
  position: relative;
}

.toggle-star {
  color: yellow;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
}
