.castle-center {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.castle-header {
  margin-left: 30px;
  margin-right: 30px;
}

.castle-show-body {
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.15);
  width: 50%;
  margin-left: 30px;
  margin-right: 30px;
}

.castle-p {
  color: rgb(139, 134, 134);
  font-size: 15px;
  margin-left: 15px;
}

.castle-image-container {
  position: relative;
  display: inline-block;
}

.toggle-star {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1; /* Ensure the star icon appears above the image */
}
