.castle-center {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.castle-header {
  margin-left: 30px;
  width: 50%;
  text-align: center;
}

.show-header {
  margin-top: 10%;
}

.show-h1 {
  margin-bottom: 50px;
}

.castle-show-body {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.15);
  width: 50%;
  margin-left: 30px;
  margin-right: 30px;
}

.castle-p {
  color: rgb(139, 134, 134);
  font-size: 15px;
  margin-left: 15px;
}

.castle-image-container {
  position: relative;
  display: inline-block;
}

.castle-image {
  margin-bottom: 15px;
}

.toggle-star {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1; /* Ensure the star icon appears above the image */
}

.reviews {
  margin-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(238, 234, 234);
}

.reviews-header {
  padding-top: 10px;
  margin-left: 50px;
}

.reviews-header h2 {
  text-align: left;
}

.reviews-body {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.review-card {
  position: relative;
  background-color: white;
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, .15);
  width: 40%;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.card-rating {
  position: absolute;
  bottom: 0;
}

.star-rating {
  font-size: 24px; /* Adjust size as needed */
}

.star {
  cursor: pointer;
  color: #ccc; /* Default star color */
}

.star.active {
  color: #FFD700; /* Active star color */
}

.reviews p, h3 {
  margin-bottom: 0;
}

.reviews h5 {
  color: black;
}

.btn {
  width: 200px;
}

.btn-show-left-margin {
  margin-left: 15px;
}

.btn-favourites .btn-favourite {
  margin-top: 15px;
}
