<%= image_tag "https://c0.klipartz.com/pngpicture/764/232/gratis-png-dormir-bella-castillo-castillo-disneyland-parque-disneyland-paris-centro-disneyland-hotel-hotel-thumbnail.png", height: 30, width: 30, alt: "Logo" %>

<div class="badge rounded-pill bg-primary fs-6">
  <%= castle.name %>
</div>
