.card {
  width: auto;
  height: auto;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding: 5px;
}

.card p {
  text-shadow: 0 0 15px #000;
  font-size: 12px;
}

.bookings-container {
  margin-right: auto;
  margin-left: auto;
  width: 900px;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}
