.booking-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  width: 900px;
}

.card-title {
  margin-top: 10px;
  font-size: 24px;
}

.card-body p {
  font-size: 16px;
  margin-top: 10px;
}
