.booking-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  width: 900px;
}

.card-title {
  margin-top: 10px;
  font-size: 26px;
}

.card-body p {
  font-size: 18px;
  margin-top: 10px;
}

.card-title-head {
  display: flex;
  justify-content: space-between;
}

.card-title-head p {
  color: gray;
}

.card-text-date {
  display: flex;
  justify-content: space-between;
}

.card-price {

}
.card-text-date h5{
  color: black;
}


.card-text-price h5{
  color: black;
}

.card-text-price p{
  text-decoration: underline;
}

.card-title-cost {
  display: flex;
  justify-content: space-between;
}

.approval {
  margin-top: 8px;
  padding-top: 8px;
}
